# Event Driven Trading System

Main notebook for testing and documenting component usage for my own reference. Created with reference to Successful Algorithmic Trading (Michael Halls Moore).

## Imports and setting up db connection

In [1]:
import yfinance as yf
import pandas as pd
import sqlite3

from data import DataSource, EODDataHandler

ds = DataSource()

symbols = ["SPY", "IEF", "TLT", "GLD", "VNQ"]

## EOD DataHandler implementation via DataSource abstraction layer
DataHandler responsible for actually creating the mechanism that mimics a live event-driven system using historical data.

In [2]:
from collections import deque

dataHandler = EODDataHandler(deque(), symbols, "2019-12-01", "2020-01-01")

In [7]:
# Run this cell a few times to get a few rounds of 'data feed updates'
dataHandler.updateBars()

In [9]:
dataHandler.getLatestBarsValues("SPY", 'adj_close', 3)

array([308.1243, 308.6783, 311.4978])

## Update db data

In [2]:
ds.updateEodData()

[*********************100%***********************]  1 of 1 completed
AXP is already up to date (latest date: 2020-06-19)
[*********************100%***********************]  1 of 1 completed
BA is already up to date (latest date: 2020-06-19)
[*********************100%***********************]  1 of 1 completed
CAT is already up to date (latest date: 2020-06-19)
[*********************100%***********************]  1 of 1 completed
CVX is already up to date (latest date: 2020-06-19)
[*********************100%***********************]  1 of 1 completed
DIS is already up to date (latest date: 2020-06-19)
[*********************100%***********************]  1 of 1 completed
DOW is already up to date (latest date: 2020-06-19)
[*********************100%***********************]  1 of 1 completed
GLD is already up to date (latest date: 2020-06-19)
[*********************100%***********************]  1 of 1 completed
GS is already up to date (latest date: 2020-06-19)
[*********************100%***********************]  1 of 1 completed
HD is already up to date (latest date: 2020-06-19)
[*********************100%***********************]  1 of 1 completed
IBM is already up to date (latest date: 2020-06-19)
[*********************100%***********************]  1 of 1 completed
JNJ is already up to date (latest date: 2020-06-19)
[*********************100%***********************]  1 of 1 completed
JPM is already up to date (latest date: 2020-06-19)
[*********************100%***********************]  1 of 1 completed
KO is already up to date (latest date: 2020-06-19)
[*********************100%***********************]  1 of 1 completed
MCD is already up to date (latest date: 2020-06-19)
[*********************100%***********************]  1 of 1 completed
MMM is already up to date (latest date: 2020-06-19)
[*********************100%***********************]  1 of 1 completed
MRK is already up to date (latest date: 2020-06-19)
[*********************100%***********************]  1 of 1 completed
NKE is already up to date (latest date: 2020-06-19)
[*********************100%***********************]  1 of 1 completed
PFE is already up to date (latest date: 2020-06-19)
[*********************100%***********************]  1 of 1 completed
PG is already up to date (latest date: 2020-06-19)
[*********************100%***********************]  1 of 1 completed
RTX is already up to date (latest date: 2020-06-19)
[*********************100%***********************]  1 of 1 completed
SPY is already up to date (latest date: 2020-06-19)
[*********************100%***********************]  1 of 1 completed
TRV is already up to date (latest date: 2020-06-19)
[*********************100%***********************]  1 of 1 completed
UNH has been updated from 2020-06-16
[*********************100%***********************]  1 of 1 completed
V has been updated from 2020-06-16
[*********************100%***********************]  1 of 1 completed
VNQ has been updated from 2020-06-16
[*********************100%***********************]  1 of 1 completed
VZ has been updated from 2020-06-16
[*********************100%***********************]  1 of 1 completed
WMT has been updated from 2020-06-16
[*********************100%***********************]  1 of 1 completed
XOM has been updated from 2020-06-16
[*********************100%***********************]  1 of 1 completed
AAPL has been updated from 2020-06-16
[*********************100%***********************]  1 of 1 completed
CSCO has been updated from 2020-06-16
[*********************100%***********************]  1 of 1 completed
IEF has been updated from 2020-06-16
[*********************100%***********************]  1 of 1 completed
INTC has been updated from 2020-06-16
[*********************100%***********************]  1 of 1 completed
MSFT has been updated from 2020-06-16
[*********************100%***********************]  1 of 1 completed
TLT has been updated from 2020-06-16
[*********************100%***********************]  1 of 1 completed
WBA has been updated from 2020-06-16

## Reading data from the db

In [16]:
spy = ds.getEodData("SPY", start="2019-12-01", end="2020-01-01")
spy

              open    high     low   close  adj_close     volume
date
2019-12-02  314.59  314.66  311.17  311.64   308.3024   75767800
2019-12-03  308.65  309.64  307.13  309.55   306.2348   73941700
2019-12-04  310.70  312.12  310.32  311.46   308.1243   49080000
2019-12-05  312.23  312.25  310.58  312.02   308.6783   40709000
2019-12-06  314.12  315.31  314.11  314.87   311.4978   48927000
2019-12-09  314.44  315.18  313.80  313.88   310.5184   34838500
2019-12-10  313.82  314.55  312.81  313.53   310.1722   52649800
2019-12-11  314.03  314.70  313.44  314.42   311.0526   53429100
2019-12-12  314.43  317.99  314.17  317.13   313.7336   96389600
2019-12-13  316.87  318.67  316.02  317.32   313.9216   81503900
2019-12-16  319.22  320.15  317.25  319.50   316.0782   82749700
2019-12-17  319.92  320.25  319.48  319.57   316.1475   61097700
2019-12-18  320.00  320.25  319.53  319.59   316.1673   48133000
2019-12-19  319.80  320.98  319.52  320.90   317.4632   85310500
2019-12-20  320.46  321.97  319.39  320.73   318.8550  147142100
2019-12-23  321.59  321.65  321.06  321.22   319.3422   52990000
2019-12-24  321.47  321.52  320.90  321.23   319.3521   20270000
2019-12-26  321.65  322.95  321.64  322.94   321.0521   30911200
2019-12-27  323.74  323.80  322.28  322.86   320.9726   42528800
2019-12-30  322.95  323.10  320.55  321.08   319.2030   49729100
2019-12-31  320.53  322.13  320.15  321.86   319.9784   57077300

## Web scraping

In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

url = "https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average"
response = requests.get(url)
response.raise_for_status()

soup = BeautifulSoup(response.text, 'html.parser')
table = soup.find(id="constituents")
headers = list(map(lambda x: x.get_text(strip=True), table.find_all("th")))
table_rows = table.find("tbody").find_all("tr")

temp = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.get_text(strip=True) for tr in td]
    temp.append(row)

df = pd.DataFrame(temp[1:], columns=headers)
df

,Company,Exchange,Symbol,Industry,Date Added,Notes,"Index Weighting (Apr 30, 2020)"
0,3M,NYSE,NYSE:MMM,Conglomerate,1976-08-09,as Minnesota Mining and Manufacturing,4.35%
1,American Express,NYSE,NYSE:AXP,Financial services,1982-08-30,,2.68%
2,Apple Inc.,NASDAQ,AAPL,Information technology,2015-03-19,,8.01%
3,Boeing,NYSE,NYSE:BA,Aerospaceanddefense,1987-03-12,,3.87%
4,Caterpillar Inc.,NYSE,NYSE:CAT,ConstructionandMining,1991-05-06,,3.34%
5,Chevron Corporation,NYSE,NYSE:CVX,Petroleum industry,2008-02-19,also 1930-07-18 to 1999-11-01,2.63%
6,Cisco Systems,NASDAQ,CSCO,Information technology,2009-06-08,,1.21%
7,The Coca-Cola Company,NYSE,NYSE:KO,Food industry,1987-03-12,also 1932-05-26 to 1935-11-20,1.31%
8,Dow Inc.,NYSE,NYSE:DOW,Chemical industry,2019-04-02,,1.04%
9,ExxonMobil,NYSE,NYSE:XOM,Petroleum industry,1928-10-01,asStandard Oil of New Jersey,1.32%
10,Goldman Sachs,NYSE,NYSE:GS,Financial services,2013-09-20,,5.29%
11,The Home Depot,NYSE,NYSE:HD,Retailing,1999-11-01,,6.17%
12,IBM,NYSE,NYSE:IBM,Information technology,1979-06-29,also 1932-05-26 to 1939-03-04,3.58%
13,Intel,NASDAQ,INTC,Information technology,1999-11-01,,1.72%
14,Johnson & Johnson,NYSE,NYSE:JNJ,Pharmaceutical industry,1997-03-17,,4.18%
15,JPMorgan Chase,NYSE,NYSE:JPM,Financial services,1991-05-06,,2.72%
16,McDonald's,NYSE,NYSE:MCD,Food industry,1985-10-30,,5.23%
17,Merck & Co.,NYSE,NYSE:MRK,Pharmaceutical industry,1979-06-29,,2.25%
18,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,,4.94%
19,Nike,NYSE,NYSE:NKE,Apparel,2013-09-20,,2.45%
20,Pfizer,NYSE,NYSE:PFE,Pharmaceutical industry,2004-04-08,,1.06%
21,Procter & Gamble,NYSE,NYSE:PG,Fast-moving consumer goods,1932-05-26,,3.26%
22,Raytheon Technologies,NYSE,NYSE:RTX,Aerospaceanddefense,1939-03-14,"as United Aircraft, later transformed intoUnit...",1.89%
23,The Travelers Companies,NYSE,NYSE:TRV,Financial services,2009-06-08,,2.95%
24,UnitedHealth Group,NYSE,NYSE:UNH,Managed health care,2012-09-24,,8.01%
25,Verizon,NYSE,NYSE:VZ,Telecommunication,2004-04-08,,1.62%
26,Visa Inc.,NYSE,NYSE:V,Financial services,2013-09-20,,5.06%
27,Walmart,NYSE,NYSE:WMT,Retailing,1997-03-17,,3.44%
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26,,1.26%
29,The Walt Disney Company,NYSE,NYSE:DIS,Broadcastingandentertainment,1991-05-06,,3.12%

## Formatting data to put into database

In [29]:
extraColumns = list(filter(lambda x: x not in ["Company", "Exchange", "Symbol"], headers))

df.drop(labels=extraColumns, axis=1, inplace=True)

df['Symbol'] = df['Symbol'].apply(lambda x: x[x.find(":") + 1:])
df['Exchange'] = df['Exchange'].apply(lambda x: data.getExchangeId(x))

df.rename(
    columns={
        "Exchange": "exchange_id",
        "Symbol": "symbol",
        "Company": "name"
    },
    inplace=True)

df.insert(loc=len(df.columns), column="currency", value="USD")
df.insert(loc=len(df.columns), column="instrument", value="Stock")

df

                        name  exchange_id symbol currency instrument
0                         3M            2    MMM      USD      Stock
1           American Express            2    AXP      USD      Stock
2                 Apple Inc.            3   AAPL      USD      Stock
3                     Boeing            2     BA      USD      Stock
4           Caterpillar Inc.            2    CAT      USD      Stock
5        Chevron Corporation            2    CVX      USD      Stock
6              Cisco Systems            3   CSCO      USD      Stock
7      The Coca-Cola Company            2     KO      USD      Stock
8                   Dow Inc.            2    DOW      USD      Stock
9                 ExxonMobil            2    XOM      USD      Stock
10             Goldman Sachs            2     GS      USD      Stock
11            The Home Depot            2     HD      USD      Stock
12                       IBM            2    IBM      USD      Stock
13                     Intel            3   INTC      USD      Stock
14         Johnson & Johnson            2    JNJ      USD      Stock
15            JPMorgan Chase            2    JPM      USD      Stock
16                McDonald's            2    MCD      USD      Stock
17               Merck & Co.            2    MRK      USD      Stock
18                 Microsoft            3   MSFT      USD      Stock
19                      Nike            2    NKE      USD      Stock
20                    Pfizer            2    PFE      USD      Stock
21          Procter & Gamble            2     PG      USD      Stock
22     Raytheon Technologies            2    RTX      USD      Stock
23   The Travelers Companies            2    TRV      USD      Stock
24        UnitedHealth Group            2    UNH      USD      Stock
25                   Verizon            2     VZ      USD      Stock
26                 Visa Inc.            2      V      USD      Stock
27                   Walmart            2    WMT      USD      Stock
28  Walgreens Boots Alliance            3    WBA      USD      Stock
29   The Walt Disney Company            2    DIS      USD      Stock

In [1]:
# df.to_sql('assets', ds.con, index=False, if_exists="append")